.search-bar{
  position: relative;
  border: 1px solid $border-color;
  margin: 1rem 0;
  input{
    width: 100%;
    padding: 8px 12px;
    padding-left: 2rem;
    border: none;
  }
  .fa-search{
    position: absolute;
    top: 8px;
    left: 8px;
  }
  ul{
    display: none;
    @include list-default;
    background-color: #FFF;
    position: absolute;
    width: 100%;
    border: 1px solid $border-color;
    &.show{
      display: block;
    }
  }
  li{
    padding: 5px 1rem;
    display: block;
    &:hover{
      background-color: darken(#FFF, 10%)
    }
  }
}