
body{
}

header{
    nav{
        a{
            padding: 1rem;
            text-decoration: none;
        }
    }
}

.list-default{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.card{
    display: flex;
    align-items: top;
    a{
        text-decoration: none;
    }
    .card-image{
        margin-right: 1rem;
    }
}